.main{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(0, 183, 255), rgb(3, 3, 173)); /* Substitua as cores pelo seu degradê desejado */
}